{#
/**
 * @file
 * Banner inferior de la pagina de detalle de convocatoria
 *
 */
 #}

<div id="call-banner" class="row no-gutters">
	<div class="col-12">
		<div class="content-banner py-7">
			<div class="d-flex justify-content-center">
				<a href="https://sicon.scrd.gov.co/admin_SCRD_pv/index.html" target="_blank" class="primary-button d-inline-block mx-auto px-1 px-sm-5">Participa en esta convocatoria</a>
			</div>
			<p class="font-weight-semibold f-14 text-center text-dark-900 mb-0 mt-4">Para participar inicia sesión en SICON y busca esta convocatoria</p>
		</div>
	</div>
</div>