<div class="d-flex flex-column align-items-center no-results m-auto text-center">
	<div class="d-flex flex-column align-items-center pt-4">
		<img class="mb-3" src="/{{ directory }}/images/sin-resultados.png"></img>
		<p class="f-20 text-dark-800 font-weight-bold">No se encontraron resultados</p>
	</div>
	<p class="f-16 text-dark-800 my-4">No podemos encontrar ninguna convocatoria que coincida con tu búsqueda</p>
	<a class="primary-button" href="/convocatorias">Limpiar filtros</a>
</div>