<div id="locationSelectSvg">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 625 405" style="enable-background:new 0 0 625 405;" xml:space="preserve">
        <style type="text/css">
            .st0{fill:#6F6F6F;}
            .st1{fill:#B9B9B9; cursor: pointer;}
            .st2{fill:#5D4294;}
            .st3{fill:#7C5CBC; cursor: pointer;}
        </style>
        <polygon class="st0" points="405.6,250.1 402.5,250.9 405.6,250.1 "/>
        <polygon class="st0" points="382,255 382.8,255.3 382,255 379.4,247.5 379.4,247.5 "/>
        <polygon class="st0" points="423.4,253.6 422.5,254 423.4,253.6 "/>
        <polygon class="st0" points="352.8,258.9 352.8,258.9 352.5,258.8 "/>
        <path class="st0" d="M433.1,223.7C433.1,223.7,433.1,223.7,433.1,223.7C433.1,223.7,433.1,223.7,433.1,223.7L433.1,223.7z"/>
        <polygon class="st0" points="368.4,288.2 366.2,289.8 364.7,298 366.2,289.8 "/>
        <polygon class="st0" points="120.5,262.1 120.5,262.1 120.5,262.1 "/>
        <polygon class="st0" points="351.2,290.7 352,288.1 351.3,287.9 "/>
        <polygon class="st0" points="355.2,302.2 350.2,301.3 350.2,301.3 "/>
        <polygon class="st0" points="362.5,303.2 362.1,303.5 362.1,303.5 "/>
        <path class="st0" d="M433.3,223.2c0,0.1-0.1,0.1-0.1,0.2c0,0,0,0,0,0C433.3,223.3,433.3,223.3,433.3,223.2z"/>
        <polygon class="st0" points="430.8,219.3 430.8,219.3 430.8,219.3 430.7,216.6 428.6,215.4 430.7,216.6 "/>
        <path class="st0" d="M433.5,222.8c0,0.1-0.1,0.1-0.1,0.2c0,0,0,0,0,0C433.5,223,433.5,222.9,433.5,222.8z"/>
        <path class="st0" d="M435,219.7c0-0.1,0.1-0.1,0.1-0.1l1.3-0.9l-1.3,0.9c0,0-0.1,0.1-0.1,0.3c0,0,0,0,0,0
            C434.9,219.8,435,219.8,435,219.7z"/>
        <polygon class="st0" points="518.8,208.1 520.5,206.9 518.8,208.1 509.8,213.2 509.8,213.2 "/>
        <path class="st0" d="M432.5,224.1c0.1,0,0.2,0,0.2,0C432.7,224.1,432.6,224.1,432.5,224.1z"/>
        <path class="st0" d="M434.8,220.2c0,0,0-0.1,0-0.1c0,0,0-0.1,0.1-0.1c0,0.1-0.1,0.2-0.2,0.4c0,0,0,0,0,0
            C434.7,220.3,434.8,220.2,434.8,220.2z"/>
        <polygon class="st0" points="482.6,209.8 484.7,209.6 482.6,209.8 479.3,214.2 478.1,215 479.3,214.2 "/>
        <polygon class="st0" points="433.8,222.3 433.8,222.3 433.8,222.3 "/>
        <path class="st0" d="M433.7,222.4C433.7,222.4,433.7,222.4,433.7,222.4c0,0.1-0.1,0.1-0.1,0.2c0,0,0,0,0,0
            C433.7,222.6,433.7,222.5,433.7,222.4z"/>
        <path class="st0" d="M434.1,221.6C434.1,221.6,434.1,221.6,434.1,221.6c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0,0,0
            C434,221.8,434.1,221.7,434.1,221.6z"/>
        <path class="st0" d="M434.3,221.1c0,0,0-0.1,0.1-0.1c0-0.1,0.1-0.1,0.1-0.2c0-0.1,0.1-0.1,0.1-0.2c0,0,0-0.1,0.1-0.1
            c-0.1,0.3-0.3,0.6-0.5,1c0,0,0,0,0,0C434.2,221.3,434.3,221.2,434.3,221.1z"/>
        <polygon class="st0" points="93.1,257.5 90.7,258.5 90.7,258.5 93.1,257.5 96.3,253.7 99.3,254.2 96.3,253.7 "/>
        <polygon class="st0" points="237.7,179.9 237.7,179.9 243.2,185.2 243.9,185.8 243.2,185.2 "/>
        <polygon class="st0" points="184.9,127.6 184.3,127.5 184.2,131.3 "/>
        <polygon class="st0" points="185.8,136 188,136.4 185.8,136 "/>
        <polygon class="st0" points="247.6,186.1 248.3,185.9 278.1,176.8 248.3,185.9 "/>
        <polygon class="st0" points="183.3,138.5 183.7,138.5 183.7,137 "/>
        <polygon class="st0" points="190.6,108.3 188.5,108.8 185.4,125 188.5,108.8 "/>
        <polygon class="st0" points="176,209.1 176.8,209.6 178.2,209.3 176.8,209.6 "/>
        <polygon class="st0" points="90.4,203.2 90.1,203.2 90.1,203.2 90.4,203.2 92.8,206.8 92.8,206.8 92.8,206.8 "/>
        <polygon class="st0" points="163.7,200.9 163.8,200.9 163.7,200.9 "/>
        <polygon class="st0" points="89.8,243.5 91,245.9 91,245.9 91,245.9 "/>
        <polygon class="st0" points="85,241.8 85,241.8 86.8,243 89.8,243.5 86.8,243 "/>
        <polygon class="st0" points="363.3,245.2 363.7,243 360,238.5 359.8,251.6 353.1,284.1 353.6,282.6 361.9,251.2 363.2,250.3 
            363.3,245.2 "/>
        <polygon class="st0" points="308.2,234.8 316.5,233.7 308.2,234.8 "/>
        <polygon class="st0" points="315.9,170.3 316,166.3 315.8,167 314.5,167.8 314.4,167.7 314.3,170.2 "/>
        <polygon class="st0" points="283.1,221.5 300.7,233.1 305.7,234.2 300.7,233.1 "/>
        <polygon class="st0" points="380.7,216.9 379.1,219.6 376.5,230.2 379.1,219.6 "/>
        <polygon class="st0" points="324.8,232.7 324.9,232.8 324.8,232.7 "/>
        <polygon class="st0" points="339.5,249.1 343.1,251.8 345.6,254.2 343.1,251.8 "/>
        <polygon class="st0" points="356,199.7 356,199.7 354.5,199.7 "/>
        <polygon class="st0" points="367,244.1 366.7,244.4 366.7,244.4 "/>
        <polygon class="st0" points="317.2,163.1 316.9,162.7 316.9,162.7 317.2,163.1 "/>
        <path class="st0" d="M431.2,224.2c0.1,0,0.3,0,0.4,0C431.5,224.1,431.4,224.1,431.2,224.2z"/>
        <polygon class="st0" points="382.6,284.7 368.4,288.2 382.6,284.7 "/>
        <path class="st0" d="M522.9,269.3c-0.5-0.2-1.1-0.3-1.5-0.4C521.8,269,522.3,269.2,522.9,269.3z"/>
        <path class="st0" d="M526.1,270.2c-0.6-0.2-1.2-0.3-1.7-0.5C525,269.9,525.5,270.1,526.1,270.2z"/>
        <path class="st0" d="M537.6,273.5c-0.7-0.2-1.4-0.4-2.2-0.6C536.1,273.1,536.9,273.3,537.6,273.5z"/>
        <path class="st0" d="M534.2,272.5c-0.5-0.1-1-0.3-1.5-0.4C533.2,272.3,533.7,272.4,534.2,272.5z"/>
        <polygon class="st0" points="509.9,272.2 509.9,272.2 507.1,272.1 "/>
        <path class="st0" d="M529.8,271.3c-0.5-0.1-1-0.3-1.6-0.4C528.7,271,529.3,271.1,529.8,271.3z"/>
        <polygon class="st0" points="259.4,346.5 251.8,348.4 259.4,346.5 259.8,344.7 259.8,344.7 "/>
        <polygon class="st0" points="243.9,309.2 243.9,309.2 245.9,313.5 247,314 245.9,313.5 "/>
        <polygon class="st0" points="334.1,334.5 334.1,334.5 335.4,329 334.1,334.5 "/>
        <polygon class="st0" points="264.4,345.1 264.4,345.1 264.4,345.1 "/>
        <polygon class="st0" points="328.1,358.6 331.8,351.9 333.9,347.9 333.9,347.9 331.8,351.9 "/>
        <polygon class="st0" points="573.8,225.8 573.5,224.6 573.8,225.8 577.3,227 597.4,229.9 577.3,227 "/>
        <polygon class="st0" points="581.6,265.3 581.8,264.7 581.6,265.3 "/>
        <polygon class="st0" points="611.1,222.7 612.3,222.8 611.1,222.7 "/>
        <path class="st0" d="M545.1,274.7c0.1,0,0.3-0.1,0.4-0.1c0,0,0,0,0,0C545.4,274.6,545.2,274.7,545.1,274.7
            C545.1,274.7,545.1,274.7,545.1,274.7z"/>
        <polygon class="st0" points="263.6,309.7 271.7,307.1 274.2,306.4 271.7,307.1 "/>
        <path class="st0" d="M543.8,275.1C543.8,275.1,543.8,275.1,543.8,275.1c-0.1,0-0.1,0-0.1,0C543.7,275.1,543.8,275.1,543.8,275.1z"/>
        <path class="st0" d="M541.2,274.5c-0.3-0.1-0.6-0.2-1-0.3C540.5,274.3,540.9,274.4,541.2,274.5z"/>
        <path class="st0" d="M538.8,273.8c-0.4-0.1-0.8-0.2-1.2-0.3C538,273.6,538.4,273.7,538.8,273.8z"/>
        <path class="st0" d="M545,274.8C545,274.8,545,274.8,545,274.8c0,0-0.1,0-0.1,0C544.9,274.8,545,274.8,545,274.8z"/>
        <path class="st0" d="M544.1,275C544.1,275,544.1,275,544.1,275c-0.1,0-0.2,0.1-0.3,0.1C543.9,275.1,544,275.1,544.1,275z"/>
        <path class="st0" d="M544.5,274.9C544.5,274.9,544.5,274.9,544.5,274.9c-0.1,0-0.2,0.1-0.3,0.1C544.4,275,544.4,275,544.5,274.9z"/>
        <polygon class="st0" points="184.6,105.8 184.6,106 184.6,106 "/>
        <polygon class="st0" points="215.5,78.7 215.5,78.7 212.8,87.3 211.1,93.2 212.8,87.3 "/>
        <polygon class="st0" points="22.5,56.8 18.7,57.5 18.7,57.5 22.5,56.8 68.9,69.6 165.6,97.1 68.9,69.6 "/>
        <polygon class="st0" points="320,151 319.1,154.3 319.9,153.6 "/>
        <polygon class="st0" points="203,102.7 210.6,95.1 203,102.7 203.3,104.4 203.3,104.4 "/>
        <polygon class="st0" points="181,101.4 181.2,101.5 181,101.4 "/>
        <polygon class="st0" points="337.8,147.3 333.6,145.8 331.1,146.1 333.6,145.8 "/>
        <polygon class="st0" points="331.1,146.1 323.1,148.3 322.4,148.5 323.1,148.3 "/>
        <polygon class="st0" points="359.6,165.1 356.7,162.8 359.6,165.1 "/>
        <polygon class="st0" points="277.1,307.8 274.2,306.4 277.1,307.8 279.3,314.9 279.9,315.6 279.3,314.9 "/>
        <polygon class="st0" points="400.6,172.7 400.6,172.7 400.2,173 396.9,174.5 400.2,173 "/>
        <polygon class="st0" points="297.9,133.4 297.9,133.4 244.1,116.6 215.7,108.1 244.1,116.6 "/>
        <polygon class="st0" points="182.4,141.9 182.8,141.7 182.4,141.9 "/>
        <polygon class="st0" points="102.9,254.9 103.1,254.6 102.9,254.9 "/>
        <polygon class="st0" points="123.4,274.3 124.1,278.2 124.1,278.2 123.4,274.3 "/>
        <polygon class="st0" points="70.2,185.3 71.7,183.9 103.6,167 71.7,183.9 "/>
        <polygon class="st0" points="174,300.1 174,300.1 169.2,299.3 "/>
        <polygon class="st0" points="334.7,288.3 334.7,288.3 336.2,287.6 "/>
        <polygon class="st0" points="28.4,142.2 28.4,142.2 55.2,165 55.2,165 "/>
        <polygon class="st0" points="55.2,165 55.2,167 55.3,166.6 "/>
        <polygon class="st0" points="55,202.4 56.6,202.3 55,202.4 "/>
        <polygon class="st0" points="23.5,143 25.5,142.4 28.3,142.2 25.5,142.4 "/>
        <polygon class="st0" points="361.4,196.2 361.4,196.2 360,197.1 "/>
        <polygon class="st0" points="134.8,284 135.3,284.7 135.5,287.5 135.5,287.5 135.3,284.7 "/>
        <polygon class="st0" points="569.4,217 568.5,218 566.8,217.7 568.5,218 "/>
        <polygon class="st0" points="379.9,156.1 380.3,157.6 379.9,156.1 "/>
        <polygon class="st0" points="360.2,142.3 360,143.6 360,143.6 360,143.6 "/>
        <polygon class="st0" points="382.6,155.3 382.6,155.3 384,151.2 382.6,155.3 "/>
        <polygon class="st0" points="434.7,303.1 436.7,307.3 434.7,303.1 431.1,301.9 431.1,301.9 "/>
        <polygon class="st0" points="560.6,213.3 560.6,213.3 560.6,213.3 "/>
        <polygon class="st0" points="442.3,321.3 439.4,324.2 439.4,324.2 "/>
        <path class="st0" d="M546,274.4C546,274.4,546,274.4,546,274.4c0.1,0,0.2-0.1,0.2-0.1c0,0,0,0,0,0c0.1,0,0.1,0,0.1,0l1.7-5.8
            l-1.7,5.8C546.4,274.3,546.2,274.4,546,274.4z"/>
        <polygon class="st0" points="547.7,226.9 547.7,226.9 548.1,224.8 "/>
        <polygon class="st0" points="494.4,257.9 494.7,258.3 494.7,258.3 "/>
        <polygon class="st0" points="569.5,262.9 573.5,264.4 576.1,265.2 573.5,264.4 "/>
        <polygon class="st0" points="555.4,262.7 548.1,268.5 555.4,262.7 559,259.9 559,259.9 "/>
        <polygon class="st0" points="448.9,309.2 448.9,309.2 450.4,309.8 "/>
        <polygon class="st0" points="256.2,300 256.2,300 256.2,300 "/>
        <polygon class="st0" points="444.2,312.7 444,314.2 444,314.2 444,314.2 "/>
        <polygon class="st0" points="265.2,277.2 263.9,264.5 263.9,264.5 265.2,277.2 "/>
        <polygon class="st0" points="386.6,323.4 386.3,324.6 386.3,324.6 "/>
        <polygon class="st0" points="393.7,331.5 393,331.8 392.6,331.3 393,331.8 "/>
        <polygon class="st0" points="349.1,340.9 349.1,340.9 345.7,340.2 344.1,339.8 345.7,340.2 "/>
        <polygon class="st0" points="399.2,329.2 399.3,329.2 402.8,327.3 399.3,329.2 "/>
        <polygon class="st0" points="252.4,256.4 252.4,255.4 252.4,255.4 "/>
        <polygon class="st0" points="196.3,100.4 193,100.5 193,100.5 196.3,100.4 197.1,98.7 197.9,97 197.9,97 "/>
        <polygon class="st0" points="470.8,252.7 471.5,253.3 479.7,254.8 471.5,253.3 "/>
        <polygon class="st0" points="196.7,284.2 197.5,281.3 197.5,281.3 "/>
        <polygon class="st0" points="328.1,325.2 329.9,324.4 329.9,322.6 "/>
        <polygon class="st0" points="207.8,272.7 207.8,272.7 208,270.5 207.8,272.7 "/>
        <polygon class="st0" points="226.4,235.8 227,235.6 226.4,235.8 "/>
        <polygon class="st0" points="323.5,323.8 321.5,325 323.5,323.8 "/>
        <polygon class="st0" points="147.9,286.6 149.3,286 151.8,285 149.3,286 "/>
        <polygon class="st0" points="179.1,296.2 177,297.8 179.1,296.2 183.8,292.7 183.8,292.7 "/>
        <polygon {% if "27" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %}  id="locationSelectSvg--27"  points="622.9,216.5 622.9,216.5 623.8,221.2 622.6,224 612.3,222.8 611.1,222.7 611.6,229.1 609.1,231.5 
            597.4,229.9 577.3,227 573.8,225.8 573.5,224.6 573.4,223.9 573.2,234.1 593.7,237 596.1,238.5 596.1,238.5 596.1,238.5 
            596.1,238.5 596.1,238.5 595.7,259 608.5,260.8 611.1,258.4 611.2,252 622.1,253.3 623.3,250.5 623.5,240.6 623.8,239.1 
            624.3,209.8 "/>
        <polygon class="st0" points="584.6,254.9 585.4,251 585.4,251 "/>
        <polygon class="st0" points="592.2,247.3 594.7,246.1 595.8,240.2 594.7,246.1 "/>
        <polygon {% if "8" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--8" points="18.7,57.5 18.7,57.5 18.7,57.5 22.5,56.8 68.9,69.6 165.6,97.1 181,101.4 181,101.4 181,101.4 
            181.2,101.5 184.2,103.2 184.6,105.8 184.6,106 184.6,106 184.6,106 184.6,106 184.3,127.5 184.9,127.6 185.4,125 188.5,108.8 
            190.6,108.3 192.8,107.8 203.1,110.6 203.3,104.4 203.3,104.4 203,102.7 210.6,95.1 210.6,95.1 211.1,93.2 212.8,87.3 215.5,78.7 
            215.5,78.7 215.5,78.7 215.6,78.6 219.4,76.2 226.7,74.7 226.7,74.7 226.7,74.7 230.3,75.2 230.4,67.1 229.6,69.3 227.7,70.5 
            226.7,71.2 219.4,70.2 218.9,70.5 218.3,70.8 210.2,75.1 210.2,75.2 208.4,82.2 208.4,82.2 208.7,84 207.9,88.6 200.9,93.5 
            197.9,97 197.1,98.7 196.3,100.4 193,100.5 193,100.5 193,100.5 161,91.3 127.5,82.2 109.9,76.9 75.8,66.8 31.4,53.5 26,51.8 
            23.7,51.2 8.8,47.2 6.8,46.1 4.1,44.5 3.6,73.8 8.3,76.5 15.1,78.4 16.4,72.1 18.2,62.7 "/>
        <polygon class="st0" points="415.1,161.4 413.8,166 413.8,166 "/>
        <path {% if "24" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--24" d="M376,148.3l0.2,1.5l-0.7,8.6c0.7,2.5,1.4,3.4,1.5,3.5l2.1,3.5l-0.1,2.7l2.8,0.3l3.5-3.4l1-0.6l2.9-14.7l7.8-2.4
            l8.4,1.2l4.4,3.5l5.5,3.3l0.4-23.2l-0.5,2.2l-1.1,4.9l-0.8,3.4l-7.3,0.8l-12.8,0.5l-2.8,0.5l-4.4,0.8l-2.1,6.1l-1.4,4.1l0,0l1.1,2.7
            l-0.5,2.8l-2,1.8l-0.1-2.5l-0.7-2.5l-0.4-1.6l0,0l-0.2-0.6l0.3-10.7l-1.8-2.6l-14.6-2.8l-0.1-0.7l-0.4-2.2l-0.1,7.6l10.3,1.8
            L376,148.3z"/>
        <polygon class="st0" points="407.2,169.4 400.6,172.7 400.6,172.7 "/>
        <polygon class="st0" points="416.1,157.8 416.1,157.8 416.1,157.8 "/>
        <polygon class="st0" points="360,143.6 360,143.6 360.7,143.7 360.8,138.6 360.2,142.3 "/>
        <path {% if "10" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--10" d="M415.1,161.4l-1.3,4.6l0,0l0,0l-6.6,3.4l-6.6,3.4l-0.4,0.2l-3.3,1.6l-10.4,5l-3.9,1.4l-4.1-0.8l-18.8-15l0,0
            l-2.9-2.3l-1.4-1.1l-11.4-9.7l-6.1-4.6l-4.2-1.5l-2.5,0.2l-8,2.2l-0.7,0.2l-1.4,0.4c-0.2-0.1-0.3-0.1-0.4-0.2L320,151l0,2.7l0.2-0.2
            l11.7-2.7l2.3,0.6l42.4,33l0.4,1.6l-15.6,10.2l0,0l15.6-10.2l-0.1,4l6.6-4.2l3.5,0.4l5.7,4.4l0.1-6.8l2.7,2.4l-2.7-2.4l0.2-1.8
            l19.3-9l3.5-2l0.2-13.3L415.1,161.4z"/>
        <polygon {% if "11" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--11" points="450.9,164.2 449.9,166.7 455.5,169.1 453.2,181 463.5,182.2 463.8,163.8 453.2,163.4 "/>
        <polygon class="st0" points="434.2,249.3 433,249.6 430.5,250.7 433,249.6 "/>
        <polygon class="st0" points="449.3,238.6 450.7,239 452.3,239.3 450.7,239 "/>
        <path {% if "11" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--11" d="M520.5,206.9l-1.7,1.2l-9,5.1h0l0,0l-24.6-3.6l-0.5,0.1l-2.1,0.2l-3.4,4.3l-1.1,0.9l-2.9,2.3l-5.5,1.3l-6.5-1.6
            l-18.1-3.1l-1.9,0.1l-7,4.7l-1.3,0.9c0,0,0,0.1-0.1,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0.1-0.1,0.1c0,0,0,0.1,0,0.1
            c0,0,0,0.1-0.1,0.1c0,0,0,0,0,0c0,0.1-0.1,0.1-0.1,0.2c0,0,0,0.1-0.1,0.1c0,0.1-0.1,0.1-0.1,0.2c0,0.1-0.1,0.1-0.1,0.2
            c0,0,0,0.1-0.1,0.1c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0,0,0c0,0,0,0,0,0.1c0,0,0,0,0,0.1c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0,0,0
            c-0.1,0.1-0.1,0.2-0.2,0.3c0,0,0,0,0,0h0c0,0,0,0.1-0.1,0.1c0,0,0,0,0,0c0,0.1-0.1,0.2-0.1,0.2c0,0,0,0,0,0c0,0.1,0,0.1-0.1,0.1
            c0,0.1-0.1,0.1-0.1,0.2c0,0,0,0,0,0c0,0.1-0.1,0.1-0.1,0.2c0,0,0,0.1-0.1,0.1c0,0,0,0,0,0c-0.1,0.1-0.1,0.2-0.2,0.3l0,0c0,0,0,0,0,0
            c-0.1,0.2-0.2,0.4-0.3,0.4c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.2,0c-0.2,0-0.5,0-0.7,0c0,0-0.1,0-0.1,0c-0.1,0-0.3,0-0.4,0
            c-0.2,0-0.3,0-0.4,0c-0.3,0,0-4.6,0-4.9v0l-0.1-2.7l-2.1-1.2l-1.6-0.9l-31.5-28.2l-2.7-2.4l-0.1,6.8l0.3,0.3l11.7,10.4l-0.2,1.4l0,0
            l-0.1,5.1l4.3-2.5l2.7,0.6l4,4.4l8.7,7.8l1.2,1.9l-0.7,4l0.7-4l-0.2,9.5l7.5,1.3l3.5,2l2.9,2.9l0.1-8.1l0,0l0.1-4.2l9-3.1l16.5,2.7
            l2.6,1.4l4.6,0.9l2.5-0.3l11.9-4.9l1.6-4.8l23.6,3.1l4.9-1.9l7-5.3l0.2-8.9l-0.2,2l-0.1,0.8L520.5,206.9z"/>
        <polygon class="st0" points="445.8,237.6 445.8,237.6 444.6,235.4 "/>
        <polygon class="st0" points="596.1,238.5 596.1,238.5 596.1,238.5 "/>
        <path {% if "12" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--12" d="M595.8,240.2l-1,5.9l-2.6,1.1l-3.4,1.5l-3.4,2.2l-0.9,4l-1.4,6.2l-1.4,3.6l-0.2,0.6l0,0v0l-1.9,1l-3.6-1.1
            l-2.6-0.8l-4-1.4l-6.6-2.3l-3.9-0.7l-3.6,2.8l-7.3,5.8l-1.7,5.8c0,0-0.1,0-0.1,0c0,0,0,0,0,0c-0.1,0-0.1,0-0.2,0.1c0,0,0,0,0,0
            c-0.1,0-0.3,0.1-0.5,0.2c0,0,0,0,0,0c-0.1,0-0.3,0.1-0.4,0.1c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0,0,0c0,0-0.1,0-0.1,0
            c-0.1,0-0.2,0.1-0.4,0.1c0,0,0,0,0,0c-0.1,0-0.2,0.1-0.3,0.1c0,0-0.1,0-0.1,0c0,0,0,0,0,0c-0.1,0-0.2,0.1-0.3,0.1c0,0,0,0,0,0
            c0,0,0,0,0,0c-0.1,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c0,0-0.7-0.2-1.8-0.5c-0.2-0.1-0.4-0.1-0.7-0.2c-0.3-0.1-0.6-0.2-1-0.3
            c-0.4-0.1-0.9-0.3-1.4-0.4c-0.4-0.1-0.8-0.2-1.2-0.3c-0.7-0.2-1.4-0.4-2.2-0.6c-0.4-0.1-0.8-0.2-1.2-0.3c-0.5-0.1-1-0.3-1.5-0.4
            c-1-0.3-2-0.6-3-0.8c-0.5-0.1-1-0.3-1.6-0.4c-0.7-0.2-1.4-0.4-2.1-0.6c-0.6-0.2-1.2-0.3-1.7-0.5c-0.5-0.1-1-0.3-1.5-0.4
            c-0.5-0.2-1.1-0.3-1.5-0.4c-2.4-0.7-4.1-1.2-4.4-1.3l-2.2-0.5l-4.8,5l0,0l0,0l-2.8-0.1l-13.1-8.7l0.6-5.2l-0.3-0.3l-0.7-0.7l-14-2.5
            l-8.2-1.4l-0.7-0.6l-1.9-1.7l0.9-6.7l0-1.8l-17.4-3.2l-1.6-0.3l-1.4-0.4l-3.5-1l0,0h0l-1.2-2.1l-2.8-4.9l-2.6-3.1l0,0l0,0l-0.1,8.1
            l1.9,1.9l-0.5,2.5l0.5-2.5l-0.1,5.8l4.2,1.1l16.1,2.7l1.7,2.2l0,0l-0.1,6.6l13.6,2.2l0,0l0,0l0,0v0l-0.1,3.7l7.8-1.3l2.8,1.9
            l-0.1,0.4l0.1-0.4l-0.4,22.9l6.6,1.2l0.5,0.5l-0.1,5.7l13.1,8.7l2.8,0.1l4.8-5l2.2,0.5c1.3,0.4,26.5,7.5,26.8,7.5c0,0,0,0,0,0
            c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0.1,0,0.2,0,0.2-0.1c0,0,0,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0,0.2-0.1,0.3-0.1c0,0,0.1,0,0.1,0
            c0.1,0,0.2-0.1,0.3-0.1c0,0,0.1,0,0.1,0c0.1,0,0.3-0.1,0.4-0.1c0,0,0.1,0,0.1,0c0.1,0,0.2-0.1,0.2-0.1c0.1,0,0.1,0,0.1,0
            c0.1,0,0.1,0,0.1,0c0.1,0,0.2-0.1,0.2-0.1l1.7-5.8l7.3-5.8l3.6-2.8l3.9,0.7l10.6,3.8l6.2,1.9l1.9-1l1.6-4.2l2.2-10.2l3.4-2.2
            l5.9-2.6l1.3-7.6l0.2-8.8l0.4-20.5L595.8,240.2z"/>
        <polygon class="st0" points="256.3,90.9 256.4,86.2 255.8,89.8 255.7,90.6 "/>
        <polygon class="st0" points="298.6,112.6 298.7,109.3 298.3,112.3 "/>
        <path {% if "9" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--9" d="M315,138.5l-10-2.9l-7.1-2.2l0,0l-53.8-16.7l-28.4-8.5l-12.4-3.7l0,0l0,0h0l-0.1,6.2l55.7,14.9l1.4,1.7l0,0l0,0
            l0,0l0,0l-0.4,21.4l1.9-0.6l1.1-3.7l2.3-13.9l3.3-0.8l1.4-0.4l6,2.3l25.1,7.4l8.9,2.2l4.9,3.1l-4.7,21.4l0,0l4.7-21.4l-0.4,23.5
            l0.2,0l1.3-0.7l0.2-0.7l0.1-5l0.8,1.4l0,0l-0.8-1.4l2.9-6.9l0.1-0.1l0.9-3.3l0.6-2.4c-0.6-0.3-0.6-0.3-0.6-0.3l0.9-4.9l0.4-25
            l-1.1,4.4l-3.9,14.9L315,138.5z"/>
        <polygon class="st0" points="256.7,144 259.3,131.9 256.7,144 "/>
        <path {% if "19" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %}  id="locationSelectSvg--19" d="M189.3,143.1l3,1.1l5.6,5l20.9,18.8l0.1-7.4l0.4,1.5l-0.4-1.5l41.1-11.9l0.4-21.4l-1,4.7l-2.6,12.1h0l0,0
            l-1.3,1.8l-35.8,10.1l-3.9,0.5l-3.7-2l-18-16.7l-5.9-1.2l-2.1-0.4l0,0l0,0l-1.7-1.9l0,1.1l-0.4,1.7l0,1.5l1.2,0.1l1.3,1.3l0,0l0,0
            l0,0l0,0l-0.1,5c0.2-0.1,0.4-0.2,0.4-0.3C186.7,144.5,189.2,143.1,189.3,143.1z"/>
        <polygon class="st0" points="219.3,162 237.7,179.9 237.7,179.9 "/>
        <polygon class="st0" points="260.3,127.2 260.3,127.2 260.3,127.2 "/>
        <polygon class="st0" points="272.5,193.2 272.5,193.2 274.7,192.5 "/>
        <polygon {% if "20" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--20" points="276,182.1 278.8,183.1 279,190 279.1,190.9 279.1,190.9 279,197.7 283.7,195 284,182.3 284.7,185.3 
            285.7,190.9 284.7,185.3 284,182.3 286.2,179.4 304.2,173.3 313.5,170.1 314.3,170.2 314.4,167.7 314.8,144.2 310.1,165.6 
            310.1,165.6 310.1,165.6 307.9,167.6 278.1,176.8 248.3,185.9 247.6,186.1 245.2,186.7 243.9,185.8 243.2,185.2 237.7,179.9 
            219.3,162 218.9,160.5 218.8,167.9 238.9,186 239.5,188.6 239.3,195.7 247.9,192.9 "/>
        <polygon {% if "21" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %}  id="locationSelectSvg--21" points="319.6,170.7 321,172 343.5,198.9 356.5,214.9 356.7,204 356.7,204 357.1,202.3 372.7,192.6 
            376.9,189.9 377,185.9 361.4,196.2 360,197.1 356,199.7 356,199.7 356,199.7 354.5,199.7 352.9,199.8 322.5,164.8 317.2,163.1 
            317.2,163.1 317.2,163.1 316.9,162.7 316.1,161.3 316,166.3 315.9,170.3 "/>
        <polygon class="st0" points="367.1,218.5 367.1,218.5 367.1,218.5 "/>
        <polygon class="st0" points="366.1,215.9 366.9,218 366.1,215.9 358.3,206.6 357.8,205.7 358.3,206.6 "/>
        <polygon {% if "18" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--18" points="35.3,110.9 79.7,117.9 83,113.4 77.2,106.5 67.8,101.4 27.4,95.1 17.2,87.5 14.8,80.2 14.8,80.2 
            14.8,80.2 14.3,109.4 16.7,116.8 16.9,117 30.2,111.5 "/>
        <polygon class="st0" points="83.2,201 90.1,203.2 90.1,203.2 "/>
        <path {% if "18" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--18" d="M68.1,201.2l-2.5-0.7l1-4.8l3.7-6.1c0.4-0.2,8.1-4.4,8.4-4.4c0.3,0,7-3.1,7.3-3.3l33.8-17.7l20-10.7l5.3-2.6
            l5.6,1l14.3,2.4l5.7-1.1l6.5-1.9c0.4-0.3,7.2-5.2,8.9-6.4l0.1-5l-1.7,1l-1.7,0.8l-0.4,0.2l0,0l-11.3,5.4l-4.5,0.9l-19.6-3l-2.9-0.3
            L132,152l-28.3,15l-31.9,16.9l-1.5,1.4l-5.1,4.5l-5.5,12.4l-3,0.2l-1.6,0.1l0,0l0,0l-1.9-3l-2.3-12l4.4-20.4l0-1.9v0l-26.8-22.8
            l-0.1,0l-2.8,0.2l-2,0.6l-4.4,1.4l-3.7-1.5L5.3,131.4l-4.1-4.7l-0.5,29.3l14.2,16.1l3.7,1.5l6.4-2l2.9-0.2L50.8,191l-0.4,25.7
            l2.3,12l1.9,3l4.6-0.3l5.5-12.4l0.7-0.7l0.3-17.9L68.1,201.2z"/>
        <polygon class="st0" points="186.1,139.9 186.1,139.9 186.1,139.9 "/>
        <polygon {% if "18" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--18" points="184.1,135.3 184.2,134.1 183.7,133.7 184.2,131.3 184.3,127.5 184.6,106 178.9,128.4 176.6,136.6 
            179.1,138.1 183.3,138.5 183.7,137 "/>
        <polygon {% if "12" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--12" points="569.4,217 568.5,218 566.8,217.7 560.3,216.6 560.6,213.3 560.6,213.3 556.1,212.1 555,216.7 
            549.5,218.7 548.1,224.8 547.7,226.9 551.1,227.9 553.6,226.4 563.5,227.8 566.6,230.6 571.8,233.8 573.2,226.9 573.7,197.6 
            570.4,213.7 569.9,216.4 "/>
        <polygon class="st0" points="379.4,247.5 376.8,240 379.4,247.5 "/>
        <polygon {% if "22" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} points="380.7,216.9 379.1,219.6 376.5,230.2 375.6,233.7 372.9,238.2 368.3,242.8 367,244.1 366.7,244.4 
            366.7,244.4 366.3,244.8 365.2,245.5 363.3,245.2 363.2,250.3 371,245.1 373.5,245.2 374.4,249.9 376.5,255.1 376.8,240 
            380.5,237.4 385.9,218.7 404.5,207.8 404.6,202.7 "/>
        <polygon {% if "22" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--22" points="364.5,238.8 367.1,218.5 367.1,218.5 366.9,218 366.1,215.9 358.3,206.6 357.8,205.7 356.7,204 
            356.5,214.9 358.9,217.9 360.3,222.3 360.3,222.3 360.3,222.3 360.3,222.3 360.3,222.3 360,238.5 363.7,243 "/>
        <polygon class="st0" points="430.6,272.9 457.4,265.5 457.7,265 457.4,265.5 430.6,272.9 382.6,284.7 382.6,284.7 "/>
        <polygon class="st0" points="425.2,229.3 425.4,219.9 424.7,223.9 423.9,229.1 "/>
        <polygon class="st0" points="459.8,260.6 459.3,261.8 459.8,260.6 "/>
        <polygon {% if "25" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--25" points="448,249 440.4,247.7 434.2,249.3 433,249.6 430.5,250.7 423.4,253.6 423.4,253.6 422.5,254 
            421.4,254.5 417.8,254.3 412.2,252.7 409.4,250.7 405.6,250.1 402.5,250.9 389.6,254 383.7,255.7 382.8,255.3 382,255 379.4,247.5 
            376.8,240 376.5,255.1 377.7,257.8 381.3,258.8 387,258.7 398.6,256.2 406.2,254.3 409.8,254.8 415.1,258.8 419.4,259 435.4,253.9 
            441.2,252.4 462.8,255.9 462.9,249.4 462,251.9 "/>
        <polygon class="st0" points="440.9,243.3 441,237.5 440.4,239.9 439.8,243 "/>
        <polygon class="st0" points="118.2,256.9 118.4,256.9 119,257.2 118.4,256.9 "/>
        <path {% if "17" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--17" d="M110.5,253.3l0.7-0.8l0.1-7.2l1.2,1l-1.2-1l0.8-1.4l5.2-3.8l22.6-15.2l19.2-13.4l4.1-2.2l3.3,0.5l3.9,4.1
            l4.5,2.1l3.4-0.4l61.1-19.9l0.1-7.2l-1.7,2l-55.9,18.2l-3.6,0.6l-1.4,0.2l-0.8-0.4l-1.8-0.9l-3.8-5.5l-3-1.5l-3.6-0.3l-0.1,0
            c-1.2,0.8-18.6,12.8-26.3,18.2c-0.3,0.2-0.6,0.4-0.9,0.6c-1.6,1.1-2.7,1.9-2.7,1.9c0,0-0.7,0.5-1.8,1.3c-0.4,0.3-1,0.7-1.5,1.1
            c-7.1,5.1-23.2,16.6-24.3,17.4l-1.8,2.7l1.6,4.2l-0.9,3.7l-2,2.7l-0.2,0.2l0,0l0,0l-3.6-0.7l-3.1-0.6l-3.2,3.8l-2.4,1l0,0l-4.2,1.8
            l-3.2-1.9c0.1,0,1.6-0.4,1.9-0.5c0.3-0.1,2.5-2.6,2.7-2.7l3-9.4v0l-1.1-2.4l-3.1-0.5l-1.7-1.2l0,0h0l-2.8-10l-2.2-5.2l0.6-3l4.4-1.6
            l0.1-2.1l-0.4-2.3l0.5-3.3l6.3-2.8l1.3-4.8v0l-2.4-3.5l-0.3-0.1l-6.9-2.2l-3.4,2.6l-6.3-0.9l-5.3-1.4l-2.5-0.7l-0.3,17.9l-0.2,11.4
            l7.8,2.1l6.3,0.9l0.7-0.5L79.5,256l2.2,5.2l1.5,5.4l-0.4,21.2l3.2,1.9l6.5-2.9l3.2-3.8l6.7,1.2l2.1-3l0.9-3.7l0.1-6.8l0.1-0.2
            c0.3-0.2,2.1-1.5,4.5-3.2L110.5,253.3L110.5,253.3z"/>
        <polygon class="st0" points="111.1,255.9 111.1,255.9 111,255.9 "/>
        <polygon class="st0" points="114.3,247.8 114.3,247.8 114.3,247.8 "/>
        <polygon class="st0" points="252.4,255.4 252.4,255.4 252.4,253.4 249.7,252.3 252.4,253.4 "/>
        <polygon {% if "16" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--16" points="228,242.3 228.2,240.7 255.1,230.8 266.8,226 266.9,218.6 266.9,218.9 266.8,220.9 231.7,234 
            227,235.6 226.4,235.8 218,241.2 212.2,247.7 211.9,253.5 213.7,259.1 213.1,261 208.4,265.4 208,270.5 207.8,272.7 207.8,272.7 
            209.9,274.2 212.7,274.3 211.6,277 204.6,280.4 198.9,279.2 197.5,281.3 196.7,284.2 194.9,290.7 190.8,293.3 186.6,293.3 
            183.8,292.7 179.1,296.2 177,297.8 174,300.1 174,300.1 174,300.1 169.2,299.3 164,293.3 162,288.3 157.9,285.1 153.6,284.3 
            151.8,285 149.3,286 147.9,286.6 145.7,287.4 143.1,288.8 135.5,287.5 135.5,287.5 135.5,287.5 135.3,284.7 134.8,284 134,282.9 
            127.4,281.4 124.1,278.2 124.1,278.2 124.1,278.2 123.4,274.3 123.4,274.3 123.4,274.1 123.5,271.3 118.8,267.5 120.5,262.1 
            120.5,262.1 120.2,257.7 119,257.2 118.4,256.9 118.2,256.9 111.1,255.9 111.1,255.9 111,255.9 110.9,255.9 110.5,253.3 
            110.2,267.3 109.9,282.6 110.4,285.1 117.9,286.2 118.4,286.4 118.2,296.8 122.9,300.6 122.9,303.4 123.6,307.5 126.9,310.7 
            133.5,312.2 134.8,314 135,316.8 142.6,318.1 145.2,316.7 148.8,315.3 153.1,313.5 157.4,314.4 161.5,317.6 163.5,322.6 
            168.7,328.6 173.5,329.4 178.6,325.5 183.3,322 186.1,322.6 190.3,322.6 194.4,320 197,310.6 198.4,308.5 204,309.7 211.1,306.3 
            212.2,303.6 212.5,290.5 212.6,290.3 213.2,288.4 213.5,275 217.5,270.5 225.9,265.1 227.6,264.5 227.7,264.5 228.2,242.4 "/>
        <polygon {% if "16" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--16" points="267.3,204.1 279,197.7 279.1,190.9 279.1,190.9 279.1,190.9 274.7,192.5 272.5,193.2 262,198.5 
            257.2,201.4 256.3,204.3 261.4,211 267,216.6 267.1,206.2 268.1,207.7 267.1,206.2 "/>
        <polygon class="st0" points="114.3,247.8 114.3,247.8 112.5,246.4 111.3,245.4 111.2,252.6 113.1,250.6 "/>
        <path class="st0" d="M467.6,276.2C467.5,276.2,467.5,276.2,467.6,276.2C467.5,276.2,467.5,276.2,467.6,276.2z"/>
        <path class="st0" d="M467.8,275.9c0,0,0.1-0.1,0.1-0.1C467.9,275.8,467.9,275.9,467.8,275.9C467.8,275.9,467.8,275.9,467.8,275.9z"
            />
        <path class="st0" d="M467.2,276.6C467.2,276.6,467.2,276.6,467.2,276.6C467.2,276.6,467.2,276.6,467.2,276.6z"/>
        <polygon class="st0" points="412.1,302.3 411.5,301.1 412.1,302.3 "/>
        <polygon class="st0" points="415.4,302.7 415.2,302.7 413.3,302.5 415.2,302.7 "/>
        <path class="st0" d="M468.3,275.3c0,0-0.1,0.1-0.1,0.1C468.3,275.4,468.3,275.4,468.3,275.3z"/>
        <polygon class="st0" points="431.1,301.9 428.9,301.1 428.9,301.1 431.1,301.9 "/>
        <path class="st0" d="M466.8,277.1C466.9,277.1,466.9,277,466.8,277.1C466.9,277,466.9,277.1,466.8,277.1
            C466.8,277.1,466.8,277.1,466.8,277.1z"/>
        <path class="st0" d="M467,276.8C467.1,276.8,467.1,276.8,467,276.8C467.1,276.8,467,276.8,467,276.8C467,276.9,467,276.8,467,276.8z
            "/>
        <path class="st0" d="M466.5,279.4c0-0.1,0-0.3,0.1-0.5c-0.1,0.5-0.1,0.9-0.1,0.9C466.5,279.8,466.5,279.7,466.5,279.4z"/>
        <polygon class="st0" points="394,296.5 394,296.5 400.2,297.3 "/>
        <path class="st0" d="M466.6,278.5c0,0,0,0.1,0,0.1C466.6,278.6,466.6,278.6,466.6,278.5z"/>
        <polygon class="st0" points="392.5,303.1 392.5,303.1 392.7,302.4 "/>
        <polygon class="st0" points="362.5,321.8 362.5,321.8 363.1,321.9 "/>
        <path class="st0" d="M466.7,277.7C466.7,277.7,466.7,277.7,466.7,277.7C466.7,277.7,466.7,277.7,466.7,277.7z"/>
        <path class="st0" d="M466.8,277.4C466.8,277.4,466.7,277.4,466.8,277.4C466.7,277.4,466.8,277.4,466.8,277.4z"/>
        <path class="st0" d="M469.6,273.9c-0.1,0.1-0.2,0.2-0.3,0.3C469.4,274.1,469.5,274,469.6,273.9z"/>
        <path class="st0" d="M470,273.5C470,273.5,470,273.6,470,273.5C470,273.6,470,273.5,470,273.5z"/>
        <path class="st0" d="M471,272.4c0.2-0.2,0.3-0.4,0.4-0.5c0,0,0.1-0.1,0.1-0.1C471.4,272,471.2,272.2,471,272.4
            C471,272.4,471,272.4,471,272.4z"/>
        <path class="st0" d="M470.8,272.7C470.8,272.7,470.8,272.7,470.8,272.7C470.8,272.7,470.8,272.7,470.8,272.7z"/>
        <path class="st0" d="M468.7,274.9L468.7,274.9C468.7,274.9,468.7,275,468.7,274.9C468.7,275,468.7,274.9,468.7,274.9z"/>
        <path {% if "13" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--13" d="M459.8,260.6l-0.5,1.2l-0.8,2l-0.9,1.3l-0.3,0.4l-26.8,7.4l-47.9,11.8l-14.2,3.5l-2.2,1.6l-1.5,8.2l-0.8,4.5
            l-1.3,0.7l-0.5,0.3l0,0l0,0l-6.9-1.3l-4.9-0.9c-0.5,1.8-1,3.9-1.3,5l14.6,2.3l3.3-1.3l3.1-13l1-2.6l17.8-3.7l74.5-19.2l1.2-4.9l12-2
            l0.1-3.7l-0.2,0.7L459.8,260.6z"/>
        <polygon class="st0" points="476.4,258.1 476.4,258.1 476.4,258.1 "/>
        <path class="st0" d="M469.2,274.4c-0.1,0.1-0.2,0.2-0.3,0.3C469,274.6,469.1,274.5,469.2,274.4z"/>
        <path {% if "26" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--26" d="M487,262.9l-0.5,3.2l-14.9,5.7c0,0,0,0-0.1,0.1c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.2,0.3-0.4,0.5c0,0,0,0,0,0
            c-0.1,0.1-0.1,0.1-0.2,0.2c0,0,0,0,0,0c-0.2,0.2-0.5,0.5-0.7,0.8c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.2,0.2-0.3,0.3
            c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.1,0.1-0.2,0.2c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.1,0.1-0.2,0.2l0,0c0,0,0,0-0.1,0.1
            c-0.1,0.1-0.2,0.2-0.3,0.4c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.2,0.2-0.3,0.3c0,0-0.1,0.1-0.1,0.1c0,0,0,0,0,0c-0.1,0.1-0.2,0.2-0.3,0.3
            c0,0,0,0,0,0c-0.1,0.1-0.2,0.2-0.3,0.3c0,0,0,0,0,0c0,0-0.1,0.1-0.1,0.1c0,0,0,0.1-0.1,0.1c0,0,0,0-0.1,0.1c0,0.1-0.1,0.1-0.1,0.1
            c0,0,0,0,0,0c0,0,0,0,0,0c0,0-0.1,0.1-0.1,0.1c0,0,0,0.1,0,0.2c0,0,0,0,0,0.1c0,0.1,0,0.1,0,0.2c0,0,0,0.1,0,0.1
            c0,0.2-0.1,0.5-0.1,0.8c0,0,0,0.1,0,0.1c0,0.1,0,0.1,0,0.2c0,0.2,0,0.4-0.1,0.5c0,0.2,0,0.4,0,0.4l13.2,11.2l6.3,4.3l0,0l0.5-3.6
            l0.1-6.4l0.4-22.9L487,262.9z"/>
        <polygon {% if "26" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--26" points="399.2,329.2 393.7,331.5 393,331.8 392.6,331.3 390.7,329 391.8,322.5 387.1,322 386.6,323.4 
            386.3,324.6 386.3,324.6 386.3,324.6 381.1,328.4 377.5,327.9 374.9,323.8 363.1,321.9 362.5,321.8 356.6,323.6 349.3,329.8 
            352.4,334.1 351.3,336.5 349.2,341 349.1,340.9 349.1,340.9 345.7,340.2 344.1,339.8 342.2,339.4 340,336.3 338.5,342.8 
            338.1,363.8 341.7,368.7 345.2,369.5 348.7,370.2 350.8,365.8 351.9,363.4 352,356.4 356.1,352.9 361.9,351.1 374.4,353.1 
            377,357.2 380.6,357.7 385.7,353.8 386.6,351.2 390.3,351.7 390.2,358.3 392.5,361.1 398.7,358.5 402.3,356.5 402.8,327.3 
            399.3,329.2 "/>
        <path {% if "26" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--26" d="M481.7,298.6l-1.2,4.2l4.5,1.6l-0.4,2.6l-10,6.9l-11.7-1.7l-1.9,2.2l-4.3-0.6l-0.9-2l-5.4-2.1l-1.5-0.6l-4,0
            l-0.6,3.5l-0.3,1.5l0,0l6.7,1.5l4.8,2.6l0.5,5.3l-6.9-0.9l-6.7-1.4l-2.9,2.9l0,0l0,0l-3-1.3l-6.1-7l-0.2-2.2
            c0.4-0.1,7.2-2.5,7.2-2.8s0.5-0.7,0.6-0.8l-1.3-2.8l-1.9-4.2l-3.6-1.3l-2.2-0.8l-3.2,0.6l-3.5-2.2l-6.8,3.2l-0.2,0.1l-1.9-0.3
            l-1.2-0.2l0,0h0l-0.6-1.1l-1.3-2.5l-9.9-1.3l-6.2-0.8l-1.3,5.9l-0.2,0.7l3.1,1.1l3.9,5.2l-0.4,5.3l3.2,8.4l0.4,3.9l6.8,0.9l1.9,3.7
            l3.1,0.5l6.9-3.3l3.5,2.2l3.2-0.6l1.5,0.5l-0.2,12.1l0.2,2.2l6.1,7l3,1.3l2.9-2.9l6.7,1.4l6.9,0.9l0.2-11l0.5,1.2l4.3,0.6l1.9-2.2
            l11.7,1.7l10-6.9l0.4-2.6l0.1-5.6l1.4,0.1l0.5-29.3h0l0,0L481.7,298.6z"/>
        <polygon class="st0" points="285.7,190.9 284.7,185.3 284,182.3 283.7,195 283.9,195 "/>
        <polygon {% if "23" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--23" points="352,288.1 353.1,284.1 359.8,251.6 360,238.5 360.3,222.3 352.8,258.9 352.8,258.9 352.8,258.9 
            352.5,258.8 349.6,257.9 345.6,254.2 343.1,251.8 339.5,249.1 336.9,247.2 331.3,244 328.9,235.8 328,233.1 324.9,232.8 
            324.8,232.7 316.5,233.7 308.2,234.8 308.2,234.8 308.2,234.8 305.7,234.2 300.7,233.1 283.1,221.5 278.8,218.7 270.8,211.9 
            268.1,207.7 267.1,206.2 267,216.6 267.2,216.9 266.9,218.6 266.8,226 270.8,224.4 277.8,224.9 281.2,227.3 292.3,233.9 
            299.3,237.8 303.5,240 308.2,240.4 313.2,239.2 318.6,238.3 322.2,238.5 323.6,239.9 322.6,243.5 325.1,247.1 337.1,254.6 
            349,262.3 351.5,264.9 351.6,268.7 351.6,268.7 351.3,287.9 "/>
        <polygon class="st0" points="360.3,222.3 360.3,222.3 360.3,222.3 "/>
        <polygon {% if "15" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--15" points="265,280.1 265.2,277.2 263.9,264.5 261.3,260.1 253.1,258.5 252.4,256.4 252.4,255.4 252.4,253.4 
            249.7,252.3 248.7,251.9 240.9,252.5 239,252.7 228.2,242.4 227.7,264.5 227.5,271.5 238.5,281.6 238.5,282 240.4,281.8 
            248.2,281.2 251.9,282.7 251.9,285.7 252.3,287.1 260.6,283.2 "/>
        <polygon class="st0" points="332.4,311.3 331.8,310.2 330.8,308.1 331.8,310.2 "/>
        <path {% if "15" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--15" d="M350.2,301.3l-2-0.4l3-10.2l0-2.8l0.3-19.2c-0.1,0.4-2.3,8.8-2.3,9c0,0.2-2,4.9-2.1,5.1l-4.4,2l-6.6,2.8
            l-1.6,0.7l-2.7,2.9l-3.6,5.2l-4.1,12.3l-0.5,3.3l0.9,1.3l2.8,0.7l-0.1,3.9l-3.2,5.7l-0.7,0.4l0,0l-2.1,1.1l-19.3,5.8l-4.6,2
            l-0.4,2.8l0.7,3.8l0.9,3.6l-0.7,1.9l-3.2,1.3l-3.1-0.7l-2.1-5.5l-0.2,8.8l0.6,0.8l5.9,0.5l5.8-3.4l0.5-1.5l0.1-7.9l0.9,5v0l0,0
            l-0.9-5l2-2l12.8-5.2l10.7-4.9l1.9-2.7l0.3-15.9h0l2-6.8l5.6-5.5l6.7-5.8l1.3,0.7v0l-0.3,17.4l1.7-0.7l1.7,0.3
            C349.2,305.2,349.8,303.1,350.2,301.3L350.2,301.3z"/>
        <polygon {% if "15" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--15" points="256.1,340.6 260.7,338 260.9,325 260.9,325 260.9,325 260.9,325 260.9,325 264,322.1 274,320.7 
            283.3,322.3 290.1,323.9 290.1,323.9 290.1,323.9 290.1,323.9 290.1,323.9 289.9,337 292.3,328.1 294.8,326.9 298.2,325.7 
            296.8,322 289.3,319.9 282.1,318 279.9,315.6 279.3,314.9 277.1,307.8 274.2,306.4 271.7,307.1 263.6,309.7 258.2,311.5 
            251.7,313.1 248.1,314.5 247,314 245.9,313.5 243.9,309.2 240.3,308.6 240,306.4 239.9,305.7 239.4,335 239.8,337.9 243.4,338.5 
            245.4,342.8 246.4,343.2 248.7,343 "/>
        <polygon {% if "15" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--15" points="256.2,300 256.2,300 253.4,295.5 249.3,292.3 249.1,302.8 253.5,301.4 "/>
        <polygon class="st0" points="262.7,335.1 262.7,335.1 262.2,332.1 262.7,335.1 "/>
        <polygon {% if "14" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--14" points="338.6,334.5 345.2,306.8 345.5,306.7 345.8,289.3 342.9,296.2 337.5,320.1 335.4,329 334.1,334.5 
            334.1,334.5 335.7,339.8 335.7,344.2 333.9,347.9 333.9,347.9 331.8,351.9 328.1,358.6 323.9,366.1 321.9,370.6 316.5,374.2 
            270,367.3 266.7,365.7 264.2,348.8 264.4,345.1 264.4,345.1 259.8,344.7 259.4,346.5 251.8,348.4 250.5,348.7 245.7,349.9 
            245.4,348.7 244.5,345.6 244,374.9 245.2,379.2 250,378 258.9,375.8 259.3,373.9 263.8,374.4 263.7,378.1 266.2,395 269.5,396.6 
            316,403.5 321.4,399.9 323.4,395.3 331.3,381.2 335.2,373.5 335.5,355.6 337,349.4 338.5,342.8 340,336.3 "/>
        <polygon class="st0" points="262.6,336.9 262.7,335.1 262.7,335.1 262.2,332.1 260.9,325 260.7,338 "/>
        <polygon class="st0" points="260.9,325 260.9,325 260.9,325 "/>
        <polygon {% if "15" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--15" points="329.9,322.6 329.9,324.4 330.4,324.2 332.8,312.1 332.4,311.3 331.8,310.2 330.8,308.1 330.2,306.7 
            330.2,306.7 330.2,306.7 "/>
        <polygon {% if "15" in queryParams.field_locations_target_id %} class="st2" {% else %} class="st0" {% endif %} id="locationSelectSvg--15" points="289.3,338.8 289.9,337 290.1,323.9 288.1,327.1 285.3,333.2 285.8,343.7 289.6,348.8 289.8,340 "/>
        <polygon class="st0" points="290.1,323.9 290.1,323.9 290.1,323.9 "/>
        <polygon class="st0" points="302.6,337.3 302.4,345.2 303.4,342.3 303.4,342.3 "/>
        <polygon {% if "27" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %} id="locationSelectSvg--27"  points="573.8,225.8 577.3,227 597.4,229.9 609.1,231.5 611.6,229.1 611.1,222.7 611.1,222.7 612.3,222.8 
            622.6,224 623.8,221.2 622.9,216.5 622.9,216.5 624.3,209.8 618.1,208.6 617.7,208.5 614.5,208.2 618.3,197 618.3,197 618.3,197 
            618.3,197 613.2,195.1 591,195.9 582.4,194.4 580.3,196.4 576.2,217.5 573.4,223.9 573.4,223.9 573.5,224.6 "/>
        <polygon {% if "24" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %}  id="locationSelectSvg--24" points="378.3,142.2 380.1,144.8 379.8,155.5 379.9,156.1 380.3,157.6 381,160.1 381.1,162.7 383.2,160.9 
            383.7,158.1 382.6,155.3 382.6,155.3 384,151.2 386,145.1 390.4,144.3 393.2,143.8 406.1,143.3 413.3,142.5 414.2,139.1 
            415.3,134.2 415.8,132 413.6,127.4 378.5,122.6 374.7,123.6 370.2,126.3 365.5,127.4 363.2,136.5 363.6,138.8 363.7,139.5 "/>
        <path {% if "10" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %}  id="locationSelectSvg--10" d="M320.6,148.6c0.1,0.1,0.3,0.1,0.4,0.2l1.4-0.4l0.7-0.2l8-2.2l2.5-0.2l4.2,1.5l6.1,4.6l11.4,9.7l1.4,1.1l2.9,2.3
            l18.8,15l4.1,0.8l3.9-1.4l10.4-5l3.3-1.6l0.4-0.2l6.6-3.4l6.6-3.4l0,0l1.3-4.6l1-3.6l0,0l0,0l0,0l-0.7-2.5l0,0l-5.5-3.3l-4.4-3.5
            l-8.4-1.2l-7.8,2.4l-2.9,14.7l-1,0.6l-3.5,3.4l-2.8-0.3l0.1-2.7l-2.1-3.5c0,0-0.8-0.9-1.5-3.5l0.7-8.6l-0.2-1.5l-2.6-2.3l-10.3-1.8
            l-2.4-0.4l-0.7-0.1l0,0l0.2-1.3l0.6-3.7v0l-0.9-1.1l-12-3.2l-5.2-0.8l-3-1.5l-13.1-11.5l-1.9-0.1l-1,7.3l-2.8,15.8l-0.9,4.9
            C320,148.4,320,148.4,320.6,148.6z"/>
        <path {% if "12" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %}  id="locationSelectSvg--12" d="M511.5,218.4l-23.6-3.1l-1.6,4.8l-11.9,4.9l-2.5,0.3l-4.6-0.9l-2.6-1.4l-16.5-2.7l-9,3.1l-0.1,4.2l0,0l2.6,3.1
            l2.8,4.9l1.2,2.1l0,0l3.5,1l1.4,0.4l1.6,0.3l17.4,3.2l0,1.8l-0.9,6.7l1.9,1.7l0.7,0.6l8.2,1.4l14,2.5l0.7,0.7l0.3,0.3l0,0l-0.6,5.2
            l13.1,8.7l2.8,0.1l0,0l4.8-5l2.2,0.5c0.3,0.1,2,0.6,4.4,1.3c0.5,0.1,1,0.3,1.5,0.4c0.5,0.1,1,0.3,1.5,0.4c0.6,0.2,1.1,0.3,1.7,0.5
            c0.7,0.2,1.4,0.4,2.1,0.6c0.5,0.1,1,0.3,1.6,0.4c1,0.3,2,0.6,3,0.8c0.5,0.1,1,0.3,1.5,0.4c0.4,0.1,0.8,0.2,1.2,0.3
            c0.8,0.2,1.5,0.4,2.2,0.6c0.4,0.1,0.8,0.2,1.2,0.3c0.5,0.1,1,0.3,1.4,0.4c0.3,0.1,0.7,0.2,1,0.3c0.2,0.1,0.5,0.1,0.7,0.2
            c1.1,0.3,1.7,0.5,1.8,0.5c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0c0.1,0,0.2,0,0.3-0.1c0,0,0.1,0,0.1,0c0.1,0,0.2-0.1,0.3-0.1
            c0.1,0,0.2-0.1,0.4-0.1c0,0,0.1,0,0.1,0c0,0,0,0,0.1,0c0.1,0,0.3-0.1,0.4-0.1c0.2-0.1,0.3-0.1,0.5-0.2c0.2-0.1,0.4-0.1,0.4-0.1
            l1.7-5.8l7.3-5.8l3.6-2.8h0l3.9,0.7l6.6,2.3l4,1.4l2.6,0.8l3.6,1.1l1.9-1v0l0.2-0.6l1.4-3.6l1.4-6.2l0.9-4l0,0l3.4-2.2l3.4-1.5
            l2.6-1.1l1-5.9l0.3-1.7l0,0l0,0l0,0l-2.4-1.5l-20.5-2.9l-1.2-0.2l-0.3-0.2l-5.2-3.2l-3.1-2.8l-9.8-1.3l-2.5,1.5l-3.5-1.1l0,0l0.5-2
            l1.4-6.1l5.5-2l1.1-4.6l4.5,1.2l0,0v0l-0.3,3.3l6.5,1.1l1.7,0.3l0.9-1l0.5-0.6l0.5-2.7l3.2-16.1l-12.5-1.5l-1.7,1.6l-0.3,3.7
            l-6.4-0.6l-4.3,5.8l-4,2.5l-15.6-2.8l-2.7,0.9l-1.1,2.8l-1.7,1.3l-7,5.3L511.5,218.4z"/>
        <path {% if "11" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %}  id="locationSelectSvg--11" d="M393,182.1l-0.2,1.8l2.7,2.4l31.5,28.2l1.6,0.9l2.1,1.2l0.1,2.7v0c0,0.3-0.3,4.8,0,4.9c0.1,0,0.2,0,0.4,0
            c0.1,0,0.3,0,0.4,0c0,0,0.1,0,0.1,0c0.3,0,0.5,0,0.7,0c0.1,0,0.2,0,0.2,0c0,0,0.1,0,0.1,0c0,0,0.1-0.1,0.3-0.4c0,0,0,0,0,0
            c0.1-0.1,0.1-0.2,0.2-0.3c0-0.1,0.1-0.1,0.1-0.2c0-0.1,0.1-0.1,0.1-0.2c0-0.1,0.1-0.1,0.1-0.2c0,0,0-0.1,0.1-0.1
            c0-0.1,0.1-0.2,0.1-0.3c0,0,0-0.1,0.1-0.1c0,0,0,0,0,0c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.1-0.2,0.2-0.4c0,0,0-0.1,0-0.1
            c0.2-0.4,0.3-0.7,0.5-1c0-0.1,0.1-0.1,0.1-0.2c0.1-0.2,0.1-0.3,0.2-0.4c0,0,0,0,0,0c0.1-0.1,0.1-0.3,0.1-0.3l1.3-0.9l7-4.7l1.9-0.1
            l18.1,3.1l6.5,1.6l5.5-1.3l2.9-2.3l1.1-0.9l3.4-4.3l2.1-0.2l0.5-0.1l24.6,3.6l0,0l9-5.1l1.7-1.2l2.7-1.8l0.1-0.8l0.2-2L508.7,187
            l-2.3-0.9l-18.9-3.7l-10-3.2l-0.9,0.7l-0.8,3.7l-22.7-2.5l2.4-11.9l-5.6-2.4l1-2.5l2.3-0.8l10.7,0.4l0-1.5l-10.2-6.8l-9.7-2
            l-14.1,3.1l-7.4,1.6l-1.5,4.1l-2.4,7.2l-2.7,1.6l-3.5,2L393,182.1z"/>
        <polygon {% if "8" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %}  id="locationSelectSvg--8" points="8.8,47.2 23.7,51.2 26,51.8 31.4,53.5 75.8,66.8 109.9,76.9 127.5,82.2 161,91.3 193,100.5 193,100.5 
            196.3,100.4 197.9,97 197.9,97 200.9,93.5 207.9,88.6 208.7,84 208.4,82.2 208.4,82.2 210.2,75.2 210.2,75.1 218.3,70.8 219.4,70.2 
            219.4,70.2 226.7,71.2 227.7,70.5 229.6,69.3 230.4,67.1 224.9,60.4 223,59.2 220.6,60.1 215.9,59.1 217.8,49.5 217.7,47.9 
            204.5,44.7 183.8,41.2 181.7,39.6 181.6,36.1 180.4,33.4 173.3,31.9 171.9,31.9 169.5,37 159.8,35.5 153.5,34.3 144.8,31.1 
            137.7,26.7 130,24.3 129.7,24.2 127.9,23.2 127.9,23.2 130.2,11.9 128.9,10.7 112.7,8.6 108.6,14.7 107,18.2 105.5,19.8 102.4,19.5 
            102,18.9 100.7,16.8 102.1,10.9 101.9,8.5 94.8,7.7 92.5,8.9 86.9,13.8 85.8,17.5 84.6,17.9 70.4,15.4 69.6,14 69,10.2 65.5,7.2 
            59.6,6.4 58.6,6.3 58.8,5.9 59.7,3 59.2,1.6 53.2,0.5 48.2,1.2 43,6.6 41.4,9.8 40.4,17.8 39.3,25.2 37,25.9 35.7,23.7 31.8,21.2 
            19.1,19 15.2,18.5 12.2,19.2 8.6,22.7 5.9,37.4 4.3,40.5 4.1,44.5 4.1,44.5 6.8,46.1 "/>
        <polygon {% if "9" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %}  id="locationSelectSvg--9" points="226.7,74.7 219.4,76.2 215.6,78.6 215.5,78.7 215.5,78.7 212.8,87.3 211.1,93.2 210.6,95.1 210.6,95.1 
            203,102.7 203.3,104.4 203.3,104.4 215.7,108.1 244.1,116.6 297.9,133.4 305,135.6 315,138.5 316.3,137.8 320.2,122.9 321.3,118.5 
            319.3,115.7 314.2,115 311,116.6 305,114.9 300.2,114 298.6,112.6 298.3,112.3 298.7,109.3 298.7,109.3 296.2,107.1 293.2,106.8 
            287,104.8 284.2,103.4 280.4,95.7 276.4,95 270.9,96 267.3,95.9 265,94.8 263.7,92.8 257.8,91.9 256.3,90.9 255.7,90.6 255.8,89.8 
            256.4,86.2 255.4,85.9 248.5,84.8 246.2,80.3 243.2,77.1 230.3,75.2 226.7,74.7 "/>
        <polygon {% if "19" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %}  id="locationSelectSvg--19" points="183.7,133.7 184.2,134.1 185.8,136 185.8,136 188,136.4 193.9,137.6 211.9,154.3 215.6,156.3 
            219.5,155.9 255.4,145.8 256.7,144 256.7,144 259.3,131.9 260.3,127.2 260.3,127.2 260.3,127.2 260.3,127.2 258.9,125.5 
            203.1,110.6 192.8,107.8 190.6,108.3 188.5,108.8 185.4,125 184.9,127.6 184.2,131.3 "/>
        <polygon {% if "20" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %}  id="locationSelectSvg--20" points="218.9,160.5 219.3,162 237.7,179.9 243.2,185.2 243.9,185.8 245.2,186.7 247.6,186.1 248.3,185.9 
            278.1,176.8 307.9,167.6 310.1,165.6 310.1,165.6 314.8,144.2 309.9,141.1 301,138.9 275.9,131.4 269.9,129.2 268.5,129.6 
            265.2,130.4 262.9,144.3 261.9,148 260,148.6 "/>
        <polygon {% if "21" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %}  id="locationSelectSvg--21" points="317.2,163.1 322.5,164.8 352.9,199.8 354.5,199.7 356,199.7 356,199.7 360,197.1 361.4,196.2 
            377,185.9 376.6,184.3 334.2,151.4 331.8,150.8 320.1,153.5 319.9,153.6 319.1,154.3 319,154.4 316.1,161.3 316.9,162.7 
            317.2,163.1 "/>
        <polygon {% if "18" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %} id="locationSelectSvg--18" points="19.1,144.4 23.5,143 25.5,142.4 28.3,142.2 28.4,142.2 28.4,142.2 55.2,165 55.2,165 55.2,165 
            55.3,166.6 55.2,167 50.8,187.4 53.1,199.4 55,202.4 55,202.4 56.6,202.3 59.6,202.2 65.1,189.7 70.2,185.3 71.7,183.9 103.6,167 
            132,152 144.2,144.9 147.1,145.2 166.7,148.2 171.1,147.3 182.4,141.9 182.8,141.7 184.5,140.9 186.1,139.9 186.1,139.9 
            186.1,139.9 186.1,139.9 184.9,138.6 183.7,138.5 183.3,138.5 179.1,138.1 176.6,136.6 178.9,128.4 184.6,106 184.6,106 184.6,106 
            184.6,105.8 184.2,103.2 181.2,101.5 181,101.4 181,101.4 165.6,97.1 68.9,69.6 22.5,56.8 18.7,57.5 18.7,57.5 18.2,62.7 16.4,72.1 
            14.8,80.2 14.8,80.2 17.2,87.5 27.4,95.1 67.8,101.4 77.2,106.5 83,113.4 79.7,117.9 35.3,110.9 30.2,111.5 16.9,117 5.5,121.7 
            1.5,123.4 1.2,126.8 5.3,131.4 15.4,142.9 "/>
        <polygon {% if "22" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %}  id="locationSelectSvg--22" points="357.1,202.3 356.7,204 356.7,204 357.8,205.7 358.3,206.6 366.1,215.9 366.9,218 367.1,218.5 
            367.1,218.5 367.1,218.5 364.5,238.8 363.7,243 363.3,245.2 363.3,245.2 365.2,245.5 366.3,244.8 366.7,244.4 367,244.1 
            368.3,242.8 372.9,238.2 375.6,233.7 376.5,230.2 379.1,219.6 380.7,216.9 404.6,202.7 404.6,202.7 404.8,201.2 393.1,190.9 
            392.7,190.6 387.1,186.2 383.5,185.8 376.9,189.9 372.7,192.6 "/>
        <polygon {% if "25" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %} id="locationSelectSvg--25" points="432.7,230.7 425.2,229.3 423.9,229.1 424.7,223.9 425.4,219.9 424.2,218 415.5,210.2 411.6,205.8 
            408.9,205.2 404.5,207.8 385.9,218.7 380.5,237.4 376.8,240 379.4,247.5 382,255 382.8,255.3 383.7,255.7 389.6,254 402.5,250.9 
            405.6,250.1 405.6,250.1 409.4,250.7 412.2,252.7 417.8,254.3 421.4,254.5 422.5,254 423.4,253.6 430.5,250.7 433,249.6 
            434.2,249.3 440.4,247.7 448,249 462,251.9 462.9,249.4 462.9,249.4 461.2,247.1 445,244.4 440.9,243.3 439.8,243 440.4,239.9 
            441,237.5 439.1,235.6 436.2,232.7 "/>
        <polygon {% if "23" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %} id="locationSelectSvg--23" points="360.3,222.3 360.3,222.3 358.9,217.9 356.5,214.9 343.5,198.9 321,172 319.6,170.7 315.9,170.3 
            314.3,170.2 313.5,170.1 304.2,173.3 286.2,179.4 284,182.3 284.7,185.3 285.7,190.9 283.9,195 283.7,195 279,197.7 267.3,204.1 
            267.1,206.2 268.1,207.7 270.8,211.9 278.8,218.7 283.1,221.5 300.7,233.1 305.7,234.2 308.2,234.8 308.2,234.8 316.5,233.7 
            324.8,232.7 324.8,232.7 324.9,232.8 328,233.1 328.9,235.8 331.3,244 336.9,247.2 339.5,249.1 343.1,251.8 345.6,254.2 
            349.6,257.9 352.5,258.8 352.8,258.9 352.8,258.9 360.3,222.3 360.3,222.3 "/>
        <path {% if "17" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %} id="locationSelectSvg--17" d="M218.8,167.9l-20.9-18.8l-5.6-5l-3-1.1c-0.1,0.1-2.6,1.4-2.9,1.6c0,0-0.2,0.1-0.4,0.3c-1.7,1.2-8.5,6.1-8.9,6.4
            l-6.5,1.9l-5.7,1.1l-14.3-2.4l-5.6-1l-5.3,2.6l-20,10.7L86,181.9c-0.4,0.2-7,3.3-7.3,3.3c-0.3,0-8,4.2-8.4,4.4l-3.7,6.1l-1,4.8
            l2.5,0.7l5.3,1.4l6.3,0.9l3.4-2.6l6.9,2.2l0.3,0.1l2.4,3.5v0l-1.3,4.8l-6.3,2.8l-0.5,3.3l0.4,2.3l-0.1,2.1l-4.4,1.6l-0.6,3l2.2,5.2
            l2.8,10h0l1.7,1.2l3.1,0.5l1.1,2.4l0,0l-3,9.4c-0.1,0.1-2.4,2.6-2.7,2.7c-0.3,0.1-1.8,0.5-1.9,0.5l3.2,1.9l4.2-1.8l2.4-1l3.2-3.8
            l3.1,0.6l3.6,0.7l0,0l0.2-0.2l2-2.7l0.9-3.7l-1.6-4.2l1.8-2.7c1.1-0.8,17.2-12.3,24.3-17.4c0.6-0.4,1.1-0.8,1.5-1.1
            c1.1-0.8,1.8-1.3,1.8-1.3c0,0,1.1-0.7,2.7-1.9c0.3-0.2,0.6-0.4,0.9-0.6c7.7-5.3,25.2-17.4,26.3-18.2l0,0l0.1,0l3.6,0.3l3,1.5
            l3.8,5.5l1.8,0.9l0.8,0.4l1.4-0.2l3.6-0.6l55.9-18.2l1.7-2l-0.5-2.6L218.8,167.9z"/>
        <polygon {% if "16" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %} id="locationSelectSvg--16" points="267,216.6 261.4,211 256.3,204.3 257.2,201.4 262,198.5 272.5,193.2 272.5,193.2 274.7,192.5 
            279.1,190.9 279.1,190.9 279,190 278.8,183.1 276,182.1 247.9,192.9 239.3,195.7 178.3,215.7 174.9,216.1 170.4,214 166.5,209.9 
            163.2,209.4 159.1,211.6 139.9,225 117.2,240.2 112.1,244 111.3,245.4 112.5,246.4 114.3,247.8 114.3,247.8 114.3,247.8 
            113.1,250.6 111.2,252.6 110.5,253.3 110.5,253.3 110.9,255.9 111,255.9 111.1,255.9 118.2,256.9 118.4,256.9 119,257.2 
            120.2,257.7 120.5,262.1 120.5,262.1 120.5,262.1 118.8,267.5 123.5,271.3 123.4,274.1 123.4,274.3 124.1,278.2 124.1,278.2 
            127.4,281.4 134,282.9 134.8,284 135.3,284.7 135.5,287.5 135.5,287.5 143.1,288.8 145.7,287.4 147.9,286.6 149.3,286 151.8,285 
            153.6,284.3 157.9,285.1 162,288.3 164,293.3 169.2,299.3 174,300.1 174,300.1 177,297.8 179.1,296.2 183.8,292.7 183.8,292.7 
            186.6,293.3 190.8,293.3 194.9,290.7 196.7,284.2 197.5,281.3 197.5,281.3 198.9,279.2 204.6,280.4 211.6,277 212.7,274.3 
            209.9,274.2 207.8,272.7 207.8,272.7 208,270.5 208.4,265.4 213.1,261 213.7,259.1 211.9,253.5 212.2,247.7 218,241.2 226.4,235.8 
            226.4,235.8 227,235.6 231.7,234 266.8,220.9 266.9,218.9 266.9,218.6 267.2,216.9 "/>
        <polygon {% if "13" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %} id="locationSelectSvg--13" points="435.4,253.9 419.4,259 415.1,258.8 409.8,254.8 406.2,254.3 398.6,256.2 387,258.7 381.3,258.8 
            377.7,257.8 376.5,255.1 374.4,249.9 373.5,245.2 371,245.1 363.2,250.3 361.9,251.2 353.6,282.6 353.1,284.1 352,288.1 
            351.2,290.7 348.2,300.9 350.2,301.3 355.2,302.2 362.1,303.5 362.1,303.5 362.5,303.2 363.9,302.5 364.7,298 366.2,289.8 
            368.4,288.2 382.6,284.7 430.6,272.9 457.4,265.5 457.7,265 458.6,263.8 459.3,261.8 459.8,260.6 459.8,260.6 476.3,258.8 
            476.4,258.1 476.4,258.1 476.4,258.1 476.4,258.1 462.8,255.9 441.2,252.4 "/>
        <path {% if "26" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %} id="locationSelectSvg--26" d="M466.5,279.9c0,0,0.1-0.5,0.1-0.9c0-0.1,0-0.1,0-0.2c0,0,0-0.1,0-0.1c0-0.3,0.1-0.6,0.1-0.8c0,0,0-0.1,0-0.1
            c0-0.1,0-0.2,0-0.2c0,0,0,0,0-0.1c0-0.1,0-0.1,0-0.2c0,0,0-0.1,0.1-0.1c0,0,0,0,0,0c0,0,0.1-0.1,0.1-0.1c0,0,0.1-0.1,0.1-0.2
            c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0c0.1-0.1,0.2-0.2,0.3-0.3c0,0,0,0,0,0c0.1-0.1,0.2-0.2,0.3-0.3c0.1-0.1,0.1-0.1,0.2-0.2
            c0.1-0.1,0.2-0.2,0.3-0.3c0,0,0.1-0.1,0.1-0.1c0.1-0.1,0.2-0.2,0.3-0.4c0,0,0,0,0.1-0.1c0.1-0.1,0.1-0.1,0.2-0.2
            c0.1-0.1,0.2-0.2,0.3-0.3c0.1-0.1,0.1-0.1,0.2-0.2c0.1-0.1,0.2-0.2,0.3-0.3c0.1-0.1,0.2-0.2,0.3-0.3c0,0,0.1-0.1,0.1-0.1
            c0.3-0.3,0.5-0.5,0.7-0.8c0,0,0,0,0,0c0.1-0.1,0.1-0.2,0.2-0.2c0.3-0.3,0.4-0.5,0.5-0.6c0,0,0.1-0.1,0.1-0.1l14.9-5.7l0.5-3.2
            l0.1-0.4l-2.8-1.9l-7.8,1.3l-12,2l-1.2,4.9l-74.5,19.2l-17.8,3.7l-1,2.6l-3.1,13l-3.3,1.3l-14.6-2.3l-1.7-0.3l-1.7,0.7l-0.3,0.1
            l-6.6,27.7l1.3,1.8l2.3,3.1l1.9,0.4l1.6,0.4l3.4,0.7l0.1,0l2.1-4.4l1.1-2.5l-3.1-4.2l7.3-6.3l5.8-1.8l0,0l0.7,0.1l11.8,1.9l2.6,4.1
            l3.6,0.5l5.1-3.8l0,0l0.4-1.1l0.5-1.5l4.7,0.6l-1,6.5l1.8,2.2l0.4,0.5l0.7-0.3l5.5-2.2l0,0l3.6-2l0-0.2l-0.4-3.9l-3.2-8.4l0.4-5.3
            l-3.9-5.2l-3.1-1.1l0,0l0.2-0.7l1.3-5.9l0,0l6.2,0.8l9.9,1.3l1.3,2.5l0.6,1.1l0,0l1.2,0.2l1.9,0.3l0.2-0.1l6.8-3.2l3.5,2.2l3.2-0.6
            l0,0l2.2,0.8l3.6,1.3l1.9,4.2l1.3,2.8c0,0-0.5,0.5-0.6,0.8s-6.9,2.7-7.2,2.8l0.2,2.2l6.1,7l3,1.3l0,0l2.9-2.9l6.7,1.4l6.9,0.9
            l-0.5-5.3l-4.8-2.6l-6.7-1.5h0l0.3-1.5l0.6-3.5l4,0l0,0l1.5,0.6l5.4,2.1l0.9,2l4.3,0.6l1.9-2.2l11.7,1.7l10-6.9l0.4-2.6l-4.5-1.6
            l1.2-4.2l4.7,0.4l0,0l-0.1-3.5l-0.3-0.2l-6.3-4.3L466.5,279.9z"/>
        <path {% if "15" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %} id="locationSelectSvg--15" d="M243.9,309.2L243.9,309.2l2,4.3l1.1,0.5l1.1,0.5l3.6-1.4l6.5-1.7l5.4-1.8l8-2.6l2.6-0.7l2.9,1.3l2.2,7.1
            l0.7,0.7l2.1,2.4l7.2,1.9l7.5,2.1l1.4,3.7l-3.4,1.2l-2.5,1.2l-2.4,8.9l-0.5,1.8l0.5,1.2l2.1,5.5l3.1,0.7l3.2-1.3l0.7-1.9l-0.9-3.6
            l-0.7-3.8l0.4-2.8l4.6-2l19.3-5.8l2.1-1.1l0.7-0.4l3.2-5.7l0.1-3.9l-2.8-0.7l-0.9-1.3l0.5-3.3l4.1-12.3l3.6-5.2l2.7-2.9l0,0l1.6-0.7
            l6.6-2.8l4.4-2c0.1-0.2,2-4.9,2.1-5.1c0-0.2,2.2-8.5,2.3-9l0,0l-0.1-3.8l-2.5-2.6l-11.9-7.7l-12-7.5l-2.5-3.6l1-3.6l-1.3-1.4
            l-3.6-0.2l-5.4,0.9l-5,1.1l-4.7-0.4l-4.2-2.2l-7-4l-11.1-6.5l-3.4-2.5l-7-0.5l-4,1.7l-11.7,4.8l-26.9,9.8l-0.2,1.6l0.2,0.2
            l10.9,10.2l1.9-0.1l7.8-0.6l1,0.4l2.6,1.1l0,2l0,1.1l0.7,2.1l8.2,1.6l2.6,4.4h0l1.4,12.7l0,0l-0.2,2.9l-4.4,3.1l-8.3,3.9l-2.9,1.4
            l-0.1,3.8h0l4.1,3.2l2.8,4.5v0l0,0l-2.6,1.4l-4.4,1.4l-9.2,2.9l0.1,0.7l0.3,2.2L243.9,309.2z"/>
        <polygon {% if "14" in queryParams.field_locations_target_id %} class="st3" {% else %} class="st1" {% endif %} id="locationSelectSvg--14" points="250.5,348.7 251.8,348.4 259.4,346.5 259.8,344.7 259.8,344.7 264.4,345.1 264.4,345.1 264.4,345.1 
            264.2,348.8 266.7,365.7 270,367.3 316.5,374.2 321.9,370.6 323.9,366.1 328.1,358.6 331.8,351.9 333.9,347.9 335.7,344.2 
            335.7,339.8 334.1,334.5 334.1,334.5 335.4,329 337.5,320.1 342.9,296.2 345.8,289.3 345.8,289.3 344.6,288.6 337.8,294.4 
            332.2,299.8 330.2,306.7 330.2,306.7 330.8,308.1 331.8,310.2 332.4,311.3 332.8,312.1 330.4,324.2 329.9,324.4 328.1,325.2 
            317.4,330.1 304.6,335.3 302.6,337.3 303.4,342.3 303.4,342.3 302.4,345.2 301.9,346.7 296.1,350.1 290.3,349.7 289.6,348.8 
            285.8,343.7 285.3,333.2 288.1,327.1 290.1,323.9 290.1,323.9 290.1,323.9 290.1,323.9 283.3,322.3 274,320.7 264,322.1 260.9,325 
            260.9,325 260.9,325 260.9,325 262.2,332.1 262.7,335.1 262.7,335.1 262.6,336.9 260.7,338 256.1,340.6 248.7,343 246.4,343.2 
            244.9,343.4 244.5,345.6 245.4,348.7 245.7,349.9 "/>
    </svg>
</div>


       