<div class="d-flex flex-column align-items-center  pt-8">
    <img class="mb-3" src="/{{ directory }}/images/sin-resultados.png"></img>
    <p class="f-20 text-dark-800 font-weight-bold">No se encontraron resultados</p>
</div>