// Define new variables.

// color
$color-primary-900: #0e024b;
$color-primary-800: #210f57;
$color-primary-700: #3f2173;
$color-primary-600: #4b3082;
$color-primary-500: #5d4294;
$color-primary-400: #7c5cbc;
$color-primary-300: #978adb;
$color-primary-200: #d4cef3;
$color-primary-100: #f7f6fe;

$color-dark-900: #212934;
$color-dark-800: #404b5a;
$color-dark-700: #6e7a8a;
$color-dark-600: #929fb1;
$color-dark-500: #aebecd;
$color-dark-400: #ccd4db;
$color-dark-300: #d5dde5;
$color-dark-200: #e1e7ec;
$color-dark-100: #f0f2f4;
$color-danger-800: #5f1414;
$color-danger-500: #d72d2d;
$color-danger-200: #f5aaaa;
$color-danger-100: #fae6e6;

$color-comp-800: #002366;
$color-comp-500: #558fff;
$color-comp-100: #dbe7ff;

$color-entidad-IDARTES-500: #ffcc33;

$screen-sm: 575px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-xl: 1199px;
$screen-xxl: 1399px;
