#block-views-block-header-winner-experiences {
  .experiences-header {
    &__image {
      img {
        height: 512px;
        width: 100%;
        object-fit: cover;
      }
    }

    &__right {
      min-height: 512px;
      height: min-content;
    }

    &__text {
      max-width: 561px;
      font-weight: 600;
      .see-more {
        font-weight: 400;
      }
    }
  }

  .button-goTo {
    width: 37.37px;
    height: 37.37px;
    border-radius: 50%;
    background: $color-dark-700;
    position: absolute;
    top: -20px;
    cursor: pointer;
  }
}
